body {
  margin: 0;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.poll{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto 10%;
  height: 100%;
}


.poll>button {
  font-size: 5vh;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
}
.poll>button:hover {
  background-color: #555;
}
.poll>button:active {
  background-color: #555;
}

.message-container{
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: auto 10%;
  height: 100%;
  text-align: center;
  font-size: 3vh;
}
