html
  head
    title Graph
    link(rel="stylesheet", href="graph.css")
  body 
    div(class="chart-container")
      canvas(id="chart")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script var labels = !{labels};
    script(src="graph.js")
